body {
	font-family: "Myriad Pro", "Arial", "Helvetica";
	
}

.admin > .author, .admin > .message, .admin > .actions, .admin > .stats {
	background-color: #FDE4E5;
}

.professor > .author, .professor > .message, .professor > .actions, .professor > .stats {
	background-color: #FEEFD9;
}

.student > .author, .student > .message, .student > .actions, .student > .stats {
	background-color: #FFFFFF;
}

#posts, #make_post {
	width: 500px;
	position: relative;
	left: 800px;
}

.post {
	margin-bottom: 10px;
}

.comments {
	width: 450px;
	position: relative;
	left: 50px;
}
.actions a {
	margin-right: 10px;
}
.author {
	color:#00B3EF;
}
.message {
	color:#56585A;
}
.stats {
	overflow: hidden;
}
.stats > div {
	float: right;
}