<html>

<head>
	<title>JQuery Sandbox</title>
	<link rel="stylesheet" href="/static/style.css"/>
	<script src="/static/jquery-1.6.2.js"></script>
	<script src="/static/client.js" /></script>
	<script type="text/javascript">
		console.log("Main page start");
		var eventid = '{{ eventid }}';
		var userid = '{{ userid }}';
		
		var post_anon = false;
		var anonymize = function() {
			console.log("ANONTIME!");
			post_anon = !post_anon;
		}
		
		var init = function() {
			console.log('initing');

			var shades_tag = document.getElementById('shades')
			shades_tag.anon = false;
			shades_tag.setAttribute('style', 'opacity: .3;');

			$('#post_submit').bind('click', function() {
				var message = $('#post_input').val();
				if(shades_tag.anon) {
					client.post_anon(message);
				} else {
					client.post(message);
				}
				$('#post_input').val("");
			}); 
			
			$("#shades").bind('click', function() {
				if (this.anon === false) {
					this.anon = true;
					$(this).fadeTo('fast', .7);
				} else {
					this.anon = false;
					$(this).fadeTo('fast', .3);
				}
				console.log(this.anon);
			});
		};
		
	</script>
	
</head>
<body onload="client.init(eventid, userid);init();">
<div id="main">

<div id="main-column">
	<div id="maincol-head">
		<h1>{{ event.type }}: {{ event.class.name }}</h1>
		<h3 class="subhead">{{ event.start_time }} - {{ event.end_time }}</h3>
		<p id="tags">
			<a class="link-blue" href="#">tag</a>,
			<a class="link-blue" href="#">another</a>,
			<a class="link-blue" href="#">and</a>,
			<a class="link-blue" href="#">yet</a>,
			<a class="link-blue" href="#">another</a>
		</p>
		<div id="type-response">
				<input id="post_input" type="text" placeholder="Say something" name="post" />
				<input id="post_submit" type="submit" name="submit" value="Share" />
            	<div id="shades" class="shades"></div>
		</div>
	</div>
	<div id="maincol-body">
		<!-- The javascript client is responsible for populating this div -->
	</div>
</div>
</body>


</html>