{% extends 'base.template' %}

{% block title %}Alternote{% endblock %}

{% block body %}
	Main Template: Header HTML
	{% block content %}
		Main Template: Content Override
	{% endblock %}
	Main Template: Footer HTML
{% endblock %}