{% extends 'form.template' %}
{% block content %}
<h1>Perform DB Action on a Post</h1>
<form method="post">
	{{ with_errors(form.action) }}
	{{ with_errors(form.postid) }}
	{{ with_errors(form.userid) }}
	{{ with_errors(form.comment) }}
	{{ with_errors(form.submit) }}
</form>
{% endblock content %}