<html>

<head>
	<title>JQuery Sandbox</title>
	<script src="/static/jquery-1.6.2.js"></script>
	<script src="/static/jsrender.js"></script>
	<script src="/static/client.js"/></script>
	<script type="text/javascript">
		var startup = function() {
			client.initialize("[[ eventid ]]", "[[ userid ]]");
		};
	</script>
	
</head>
<body onload="startup();">
	<div id="main">
	</div>
	<script id="object" type="text/x-query-tmpl">
		<div id="{{=objectid}}" class="{{=objecttype}}">
			<div class="author">
				{{=author}}
			</div>
			<div class="authorimg">
				{{=authorimg}}
			</div>
			<div class="message">
				{{=message}}
			</div>
			<div class="actions">
				actions
			</div>
			<div class="meta">
				<div class="votes">{{=votes}}</div>
				<div class="flags">{{=flags}}</div>
			</div>
		</div>
	</script>
	<div id="scriptInject"></div>
	<div id="posts">

	</div>
</body>


</html>