{% extends 'main.template' %}

{% block content %}
	<br/>
	<h4>Select a Course</h4> <hr/> <br/>
	{% for class in classes %}
		<a href="[[ reverse_url('ViewCalendar', class._id) ]]">[[ class.name ]]</a> <br/>
	{% endfor %}
	<br/>
{% endblock content %}