{% extends 'main.template' %}

{% block content %}
Alternote Landing Page.
<form method="post">
	[[ with_errors(form.school_name) ]]
	[[ with_errors(form.tags) ]]
	[[ with_errors(form.submit) ]]
</form>
{% endblock content %}