{% extends 'main.template' %}

{% block content %}
	<br/>
	<h4>Create School</h4>
	<form method="post">
		[[ with_errors(form.school_name) ]]
		[[ with_errors(form.tags) ]]
		[[ form.submit() ]]
	</form>
{% endblock content %}