{% for link in links %}
<li><a href="[[ link.1 ]]">[[ link.0 ]]</a></li>
{% endfor %}

{% if not logged_in %}
<li>
	<a href="[[ reverse_url('LoginHandler') ]]">Login</a>
	<div class="dropdown">
		<form method="post" action="[[ reverse_url('LoginHandler')]]">
			[[ with_errors(loginForm.email) ]]
			[[ with_errors(loginForm.password) ]]
			[[ loginForm.submit() ]]
		</form>
	</div>
</li>
{% endif %}