{% extends 'main.template' %}

{% block content %}
	<h4>Log In</h4>
	<form method="post">
		[[ with_errors(form.email) ]]
		[[ with_errors(form.password) ]]
		[[ form.submit() ]]
	</form>
{% endblock content %}