@import "bootstrap.less";

@lightBlue: #009ed9;
@lightRed:  #c6272b;

.transition-double(@property1, @property2) {
	-webkit-transition-property: @property1, @property2;
	-webkit-transition-duration: 0.15s, 0.15s;
	-webkit-transition-timing-function: linear, linear;
	-moz-transition-property: @property1, @property2;
	-moz-transition-duration: 0.15s, 0.15s;
	-moz-transition-timing-function: linear, linear;
	transition-property: @property1, @property2;
	transition-duration: 0.15s, 0.15s;
	transition-timing-function: linear, linear;
}

a {
	text-decoration: none;
	.transition(color .1s linear);
}

.subhead { 
	color: #555;
}

.tinydot {
	height: 2px;
	width: 2px;
	background: #424242;
	.border-radius(1px);
	float: left;
	margin: 8px;
}

.plusbutton {
	float: right;
}

.link-blue {
	/* color: #619ecf; */
	color: @lightBlue;
	.transition(color 0.1s linear);
	
	&:hover { color: #333; }
}

.tooltip {
	position: absolute;
	background: rgba(0,0,0,0.75);
	padding: 4px 0;
	color: #EEE;
	text-shadow: none;
	line-height: 1.2em;
	.border-radius(3px);
	z-index: 10;
}

button.anonymous-post, button.anonymous-comment {
	width: 40px;
	height: 30px;
	margin-left: -45px !important;
	margin-right: 10px !important;
	border: none;
	.opacity(90);
	.box-shadow(none);
	background: url('../images/glasses.png') no-repeat 50% 50%;
	&.active { background: url('../images/glasses-inverted.png') no-repeat 50% 50%; }
	
	.tooltip {
		width: 90px;
		margin-left: 100px;
		margin-top: -18px;
	}
}

.profpost {
    background-color: #fde4e5;
}

.adminpost {
    /* background-color: #feedd5; */
	background-color: #fff3e2;
	border-top: none;
}

.clear {
    clear: both;
}

.highlight { background: #FCC; color: #111; }

hr {
	border: none;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #FFF;
	margin: 4px 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	-webkit-transition-property: box-shadow, -webkit-box-shadow, border-color;
	-webkit-transition-duration: 0.15s, 0.15s, 0.15s;
	-webkit-transition-timing-function: linear, linear, linear;
	-moz-transition-property: box-shadow, -moz-box-shadow, border-color;
	-moz-transition-duration: 0.15s, 0.15s, 0.15s;
	-moz-transition-timing-function: linear, linear, linear;
	transition-property: box-shadow, border-color;
	transition-duration: 0.15s, 0.15s;
	transition-timing-function: linear, linear;
}

.chzn-search input {
	/* Allows chzn results to display properly */
	float: none !important;
	width: 100% !important;
}

#head-wrapper {
	background: #EEE;
	border-bottom: solid 1px #DDD;
	height: 60px;
	width: 100%;
}

#main {
    .container { min-height: 85%; }
}

header {
	margin: 0 auto !important;
	float: none !important;
	display: block !important;

	a#head-logo { float: left; }
	img { height: 60px; margin-left: 5px; }
	
	ul#nav {
		float: right;
		margin: 35px 0 0 0;
		
		li {
			float: left;
			margin: 0;
			
			a {
				color: #333;
				text-shadow: 0px 1px 1px #FFF;
				padding: 9px;
				background-color: transparent;
				border: solid 1px #EEE;
				border-bottom: none;
				.border-radius(3px 3px 0px 0px);
				.transition-double(background-color, border-color);
				
				&:hover, &.active {
					color: #333;
					background-color: #FFF;
					border-color: #CCC;
				}
			}
		}
	}
}

ul#footer-links {
	width: 430px;
	height: 20px;
	margin: 20px auto 10px auto;
	
	li {
		float: left;
		margin: 0 5px;
		
		a { 
			.link-blue;
		}
	}
}

#landing-wrapper {
    background: #DDD url('../images/landing-bg.png') no-repeat fixed 50% 0%;
    height: 100%;
    
    #dropdown-link {
        color: #666;
		cursor: pointer;
        padding: 5px 15px;
		float: left;
		text-align: center;
		.transition(color 0.1s linear);
        &:hover { color: #000; }
    }
    
    #login-button {
        float: right;
        margin-right: 155px;
        margin-top: 30px;
        text-align: center;
        border: solid 1px #CCC;
        .border-radius(3px);
        #gradient .vertical(#FFF, #EEE);
        .box-shadow(0px 1px 3px rgba(0,0,0,0.1));
    }
    
    div.dropdown {
		position: absolute;
		top: 59px;
		width: 150px;
		padding: 5px;
		margin: 0 0 0 -112px;
		cursor: normal;
		background: #EEE;
		border: solid 1px #CCC;
		border-top: none;
		.border-radius(0px 0px 3px 3px);
		.box-shadow(0px 1px 3px rgba(0,0,0,0.1));
        .transition(background-color 0.1s linear);
		display: none;
		z-index: 10;
		
		form, input#submit { margin-bottom: 2px; }
		
		input#submit { float: right; }
	}
}

#index {
    padding-top: 60px;
    
	img#main-logo {
		float: left;
		width: 600px;
		padding: 0 160px;
		margin: 20px 0;
	}
	
	img#divider {
		width: 615px;
		float: left;
		padding: 0 160px;
		margin: 0 0 10px 0;
	}
	
	#join {
		margin-top: 10px;
		margin-left: 150px;
		padding: 10px;
		width: 615px;
		text-shadow: 0px 1px 1px #FFF;
		
		p {
		    font-size: 19px;
		    line-height: 28px;
		    margin-bottom: 16px;
			float: left;
			width: 60%;
	    }
	    
	    form {
	        float: right;
	        width: 38%;
	        height: 65px;
	        margin: 0 0 15px 0;
	        line-height: 1.3em;
	    }
		
		input[type="text"] {
			color: #666;
			width: 230px;
			margin-top: 5px;
			margin-bottom: 0;
			padding: 8px 4px;
			.border-radius(3px);
			border: solid 1px #DDD;
			background: #FFF;
			float: left;
			font-size: 14px;
		}
		
		input[type="submit"] {
		    float: left;
		    margin-top: 5px;
		    margin-left: -40px;
		    padding: 6px 12px;
		    #gradient .vertical(#3ec9f8, #3caed5);
		    border-color: #3980a1;
		    color: #FFF;
		    text-shadow: none;
		    .opacity(75);
		    
		    &:hover, &:active { #gradient .vertical(#50c3ff, #3ec9f8); }
		    &:active { border-color: #338; }
		}
		
		f {
			float: left;
		    font-size: 14px;
		    line-height: 20px;
		    
		    a { font-weight: bold; }
		}
	}
}

#sample {
	width: 960px;
	margin: 0;
	
	h4 { font-weight: normal; }
}

.sidebar {
	border-right: solid 1px #DDD;
	margin-right: -1px !important;
	padding-top: 10px;
	
	#course_title {
		float: left;
		margin-bottom: 10px;
	}
	
	img { float: left; }
	
	#sidebar-nav {
		float: left;
		width: 100%;
	}
	
	#nav-link, #info-link {
		font-size: 14px;
		float: left;
		margin: 0 10px 0 0;
		opacity: 0.7;
		.transition(opacity .15s linear);
		
		&.active { opacity: 1.0; }
		
		&:hover { opacity: 1.0; }
	}
	
	#nav-link { 
		color: #dfab2d;
		&.active:before {
			content:url('../images/navigation-icon.png');
			display: inline;
			float: left;
		}
	}
	#info-link { 
		color: @lightBlue;
		&.active:before {
			content:url('../images/info-icon.png');
			display: inline;
			float: left;
		}
	}
	
	#info-content { display: none; }
	
	p.header {
	    float: left;
		font-size: 12px;
		margin-top: 10px;
		/* text-transform: uppercase; */
		.transition(color 0.1s linear);
		a { 
			color: #858; 
			font-size: 12px;
			&:hover { color: #000; } 
		}
		.triangle {
		    font-size: 8px;
		    .opacity(75);
		}
	}
	
	.purple-line {
		float: right;
		margin-top: 20px;
		margin-bottom: 8px;
		height: 1px;
		width: 50%;
		background: #CAC;
	}
	
	ul.sidebar-content {
		float: left;
		width: 100%;
		
		img {
			width: 20px;
			margin-right: 5px;
			
			&.big {
			    width: 40px;
		    }
		}
		
		&#meeting-list, &#honchoes-list, &#classmates-list {
			p a:hover { color: #858; }
			
			li {
				border: none;
				&:hover{ background-color: transparent; }
			}
		}
		
		&#user {
		    margin-top: 36px;
		    .purple-line {
		        margin-top: -10px;
	        }
	        
		    li {
		        border: none;
		        p { color: #AAA; font-size: 12px; }
		        &:last-child a {
		            float: right;
		            margin-right: 10px;
		            font-size: 12px;
		        }
	        }
		}
		
		&#conversation-list, &#past-events-list, &#upcoming-list {
		    max-height: 214px;
		    overflow: hidden;
		    margin-bottom: 0px;
		    
		    &:hover { overflow-y: scroll; }
		}
		/*
		&#upcoming-list {
		    max-height: 214px;
		    overflow: hidden;
		    
		    &:hover { overflow-y: scroll; }
    		li {
    			border: none;
    			&:hover { background: transparent; }
    			p.date { 
    				float: right;
    				margin-right: 5px;
    				font-size: 14px;
    				color: #161616;
    			} 
    		}
    	}
    	*/
    	&#file-list {
    	    li { border: none; }
    	    button {
    	        border: none;
    	        background: transparent;
    	        float: right;
    	        cursor: pointer;
    	        padding: 0px 2px;
    	        font-weight: normal;
    	        text-shadow: none;
    	        margin: 0 4px 0 0;
    	        .link-blue;
	        }
    	}
		
		li {
			float: left;
			margin: 0;
			width: 100%;
			padding: 3px 0 0 0;
			font-size: 14px;
			border-bottom: solid 1px #EEE;
			background-color: transparent;
			.transition(background-color 0.15s linear);
			
			button {
			    border: none;
			    background: transparent;
			    padding: 0;
			    margin: 0;
			    width: auto;
			    height: auto;
			    font-weight: normal;
			    text-align: left;
			    font-size: 14px;
			    cursor: pointer;
			    color: #333;
			    .box-shadow(none);
			    .transition(text-decoration 0.1s linear);
			    
			    &:hover {
			        color: #000;
			        text-decoration: underline;
			    }
			    
			    &.convo { 
			        width: 80%;
			        overflow: hidden;
			        text-overflow: ellipsis;
			        -moz-text-overflow: ellipsis;
			        -webkit-text-overflow: ellipsis;
			    }
		        
		        &.edit {
		            display: none;
		            float: right;
		            width: 20px;
		            height: 20px;
		            margin-right: 10px;
		            background: url('../images/edit-icon.png');
                    .opacity(50);
                    .transition(opacity 0.1s linear);
                    &:hover { .opacity(80); }
		        }
		    }
			
			/*
			&:last-child {
				border: none;
				
				a {
					font-size: 12px;
					float: right;
					margin-right: 5px;
					.link-blue;
				}
				
				&:hover { background-color: transparent; }
			}
			*/
			p.date {
				font-size: 12px;
				color: #999;
			}
			
			&.attach { background: url('../images/paperclip-icon') no-repeat 195px 5px; }
		}
	}
}

.maincol-head{
	padding-top: 10px;
	
	p#tags {
		float: right;
		display: none;

		a { text-decoration: underline; }
	}
	
	form {
		float: left;
		width: 100%;
		margin: 10px 0 0 0;
	}
}

.post {
	float: left;
	margin-bottom: 5px;
	padding: 5px 5px 5px 55px;
	width: 90%;
	border-bottom: solid 1px #EEE;
	
	&.professor { .adminpost; }
	
	p { line-height: 1.5em; }
	
	a.delete {
		float: right;
		padding: 2px 6px;
		margin-top: -22px;
		color: transparent;
		.border-radius(3px);
		.transition(color 0.1s linear);
		&.active { color: #666; }
		&:hover { color: #000; }
	}
	
	.author {
		font-weight: bold;
		a { .link-blue; }
	}
	
	.authorimg {
		float: left;
		margin-left: -50px;
		height: 40px;
	}
	
	.timestamp {
		float: left;
		font-size: 12px;
		color: #999;
	}
	
	.actions {
		float: left;
		margin-top: 3px;
		font-size: 12px;
		display: inline;
		width: 60%;
		
		p { float: left; }
		a { 
			.link-blue;
			&.flag {
				display: none;
				width: 20px;
				height: 20px;
				margin-left: 10px;
				margin-top: 1px;
				position: absolute;
				.opacity(50);
				
				img { width: 16px; }
			}
		}
	}
	
	.meta {
		float: right;
		
		div { float: left; margin-right: 5px; }
	}
	
	.comment {
		float: left;
		margin: 10px 0 0 0;
		padding: 5px 5px 0 45px;
		width: 93%;
		border-top: solid 1px #EEE;
		
		.author { display: inline; margin-right: 5px; }
		img.authorimg { 
			height: 30px;
			margin-left: -40px;
		}
		&.professor { .adminpost; }
		a.comment-link { display: none; }
		a.flag { margin-left: 5px; }
		a.delete { margin-top: -2px; }
		.meta { margin: 3px -16px 0 0; }
	}
	
	.submit-comment {
		display: none;
		float: left;
		width: 93%;
		margin: 0;
		button.anonymous-comment { margin-top: 10px; }
		button.share { 
			float: right;
			margin: 10px 5px 0 0;
		}
	}
	
	input[type="text"] { 
		margin-top: 10px; 
		width: 88%;
		float: left;
	}
}

#conversation {
    display: none;
    margin: 10px 0 0 0 !important;
    padding-left: 8px;
    border-left: solid 1px #CCC;

	h3 { 
		float: left;
		width: 80%; 
		margin-bottom: 10px; 
	}
	
	#posts {
		float: left;
		width: 100%;
	}

	#show-calendar {
		padding: 3px 8px;
		margin: 0;
		float: right;
		.opacity(75);
	}
	
	.new-post {
		.post-input {
			width: 90%;
			float: left;
			resize: none;
			padding-right: 40px;
			overflow: hidden;
		}
		button {
			margin: 0;
			&.share { float: right; }
			&.anonymous-post { float: left; }
		}
	}
}

.calendar {
	margin: 5px 0 0 0 !important;
	border-left: solid 1px #CCC;
	
	.new-event-button {
		float: right;
		color: #FFF;
	    text-shadow: none;
	    font-size: 12px;
	    font-weight: normal;
	    margin: 5px 0 0 0;
		padding: 2px 5px;	
	    .transition(background-color 0.15s linear);
		background: @lightBlue;
	    border-color: lighten(@lightBlue, 40);
	    &:hover { background-color: lighten(@lightBlue, 10); }
	}
	
	#calendar { margin: -1px 0 0 -1px; }
	table.fc-header {
	    width: 99% !important;
	    margin: 0 7px;
	    
	    span.fc-header-title h2 {
	        font-size: 12px;
	        font-weight: normal;
        }
        .fc-button-content { 
			font-size: 12px;
			margin-top: 3px;
			.link-blue();
		}
        .fc-button-effect { display: none; }
        .fc-button, .fc-button-inner {
            border: solid 1px transparent;
            background: transparent;
            color: #333;
        }
        .fc-button {
            .transition-double(background-color 0.1s linear, border-color 0.1s linear);
        }
		.fc-button-today {
			text-transform: capitalize;
		}
        /* .fc-state-active, .fc-button:hover {
	        border: solid 1px #DDD;
	        #gradient .vertical(#FFF, #EEE);
            .border-radius(3px);
            .fc-button-content { color: #333; }
        } */
		.fc-state-disabled { visibility: hidden; }
        .fc-header-right {
            .fc-button { margin-left: 5px; }
        }
    }
    
    .fc-content {
        .fc-grid .fc-day-number {
            float: left;
            padding: 1px 5px;
        }
        
        .fc-widget-header {
            border-top: none;
            border-left: none;
            border-right: none;
            width: 99px;
        }
        
        .fc-widget-content {
            .transition(background-color 0.1s linear);
            &:hover { background-color: #F6F6F6; }
        }
        
        .fc-event-skin {
            color: @lightBlue;
            .transition(color 0.1s linear);
            &:hover { 
              cursor: pointer;
              color: darken(@lightBlue, 20); 
            }
        }
        
    }

	.new-event {
		display: none;
		border-right: solid 1px #CCC;
		border-bottom: solid 1px #CCC;
		margin: 0 0 0 -1px;
		
		#event-edit, #file-edit, #file-upload { 
		    float: left;
		    padding: 10px; 
		}
		#event-edit { padding-bottom: 0; }
		
		button {
		    color: #FFF;
		    text-shadow: none;
		    font-size: 14px;
		    font-weight: normal;
		    width: 80px;
		    height: 40px;
		    margin: 2px 5px 10px 5px;
		    .transition(background-color 0.15s linear);
		}
		
		.save {
		    background: @lightBlue;
		    border-color: lighten(@lightBlue, 40);
		    &:hover { background-color: lighten(@lightBlue, 10); }
		}
		
		button {
		    background: @lightRed;
		    border-color: lighten(@lightRed, 40);
		    &:hover { background-color: lighten(@lightRed, 10); }
		}
		
		span { 
			float: left; 
			margin: 5px 5px 11px 5px;
		}
		
		.start-widget, .finish-widget {
		    font-weight: bold;
		    float: left;
		}
		
		input[type="text"] { 
			width: 70px; 
			margin: 0 5px 5px 5px;
			display: inline;
			font-weight: normal;
			
			&.ap { margin: 0 16px 5px 0; width: 20px; }
			&.minute { margin-left: 1px; }
			&.hour, &.minute { width: 30px; }
		}
		
		textarea {
		    width: 475px;
		    max-width: 475px;
		    float: left;
		    margin-top: 8px;
		}
		
		input.title {
			height: 40px;
			padding: 5px;
			margin: 2px 10px 5px 0;
			font-size: 16px;
			width: 70%;
		}
		
		input[type="checkbox"] {
			width: auto;
			margin: 8px;
		}
		
		select {
			width: 180px;
			float: left;
		}
		
		.auto-convo-inputs { float: right; margin-right: 10px; }
		input.hours-before, input.days-before { width: 80px; }
		select.type {
		    float: right;
		    margin: 5px 10px 10px 5px;
		}
		
		label { 
			float: left;
			margin: 5px 0;
		}
		
		#file-edit {
		    width: 280px;
		    
			button {
			    float: left;
			    height: 30px;
			    margin-bottom: 0;
		    }
		}
		
		#file-upload {
		    float: right;
		    width: 190px;
		    
		    .qq-upload-button { 
		        cursor: pointer;
		        color: #FFF;
    		    text-shadow: none;
    		    font-size: 14px;
    		    font-weight: normal;
    		    width: 80px;
    		    margin: 2px 5px 10px 5px;
    		    .border-radius(3px);
    		    .transition(background-color 0.15s linear);
    		    background: @lightRed;
    		    border-color: lighten(@lightRed, 40);
    		    &:hover { background-color: lighten(@lightRed, 10); }
	        }
		}
	}
	
	.upcoming {
		display: none;
		float: left;
		width: 80%;
		padding: 10px;
		
		h4 { font-weight: normal; margin-bottom: 0.5em; }
		
		table {
			width: 75%;
			
			tr {
				td {
					height: 1.5em;
					padding: 5px;
					
					a:hover { 
						color: #000;
						.transition(color 0.1s linear);
					}
				}
			}
			
			a {
				.link-blue;
			}
		}
	}
}

.registration {
	border-left: solid 1px #CCC;
	padding: 10px 0 0 9px;
	margin: 0 !important;
	
	h4 { margin: 8px 0 12px 0; }
	
	hr { margin-left: -10px; }
	
	#photo {
		img { float: left; }
		
		a { text-decoration: underline; }
		
		input {
			float: left;
			width: 190px;
			padding: 15px 5px;
		}
	}
	
	select { height: 25px; width: 250px; }
	
	.chzn-container { margin-bottom: 15px; }
	
	input[type="submit"] { float: right; }

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="checkbox"], #photo {
		float: left;
		width: 250px;
		margin: 6px 0;
	}
	
	input.has_error { background: #FEE; }
	
	input#auto_convo { margin: 15px 0; }
	
	#photo { margin: 6px 10px; }
	
	#offsets {
	    float: left;
	    width: 87%;
	    
	    input { width: 30px; }
	}
	
	label {
		float: left;
		font-weight: normal;
		font-size: 14px;
		margin: 0 10px 0 0 !important;
		padding: 12px 0;
		height: 18px;
	}
	
	form {
		float: left;
		
		.form_field { float: left; margin: 0 10px;}
		
		ul.errors {
			position: absolute;
			margin: 4px 0 0 270px;
			padding: 5px;
			width: 100px;
			min-height: 30px;
			.border-radius(3px);
			
			li { 
				margin: 0; 
				color: #833;
				font-style: italic;
				font-size: 12px;
				line-height: 14px;
			}
		}
	}
}

ul#classes {
    float: left;
    width: 100%;
    
    li {
        float: left;
        width: 300px;
        height: 40px;
        padding: 5px;
        margin: 5px;
        #gradient.vertical(#FFF, #F3F3F3);
        .border-radius(3px);
        border: solid 1px #DDD;
    }
}

.content.pages {
    .twelve.columns {
        margin: 10px 0;
        padding-left: 10px;
    }
}
