@import "bootstrap.less";

.transition-double(@property1, @property2) {
	-webkit-transition-property: @property1, @property2;
	-webkit-transition-duration: 0.15s, 0.15s;
	-webkit-transition-timing-function: linear, linear;
	-moz-transition-property: @property1, @property2;
	-moz-transition-duration: 0.15s, 0.15s;
	-moz-transition-timing-function: linear, linear;
	transition-property: @property1, @property2;
	transition-duration: 0.15s, 0.15s;
	transition-timing-function: linear, linear;
}

a {
	text-decoration: none;
	.transition(color .1s linear);
}

.subhead { 
	color: #555;
}

.tinydot {
	height: 2px;
	width: 2px;
	background: #424242;
	.border-radius(1px);
	float: left;
	margin: 8px;
}

.plusbutton {
	float: right;
}

.link-blue {
	color: #619ecf;
	.transition(color 0.1s linear);
	
	&:hover {
		color: #000;
	}
}

.profpost {
    background-color: #fde4e5;
}

.adminpost {
    /* background-color: #feedd5; */
	background-color: #fff3e2;
	border-top: none;
}

.datetime {
	color: #999999;
}

.clear {
    clear: both;
}

.highlight { background: #FCC; color: #111; }

hr {
	border: none;
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #FFF;
	margin: 4px 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	-webkit-transition-property: box-shadow, -webkit-box-shadow, border-color;
	-webkit-transition-duration: 0.15s, 0.15s, 0.15s;
	-webkit-transition-timing-function: linear, linear, linear;
	-moz-transition-property: box-shadow, -moz-box-shadow, border-color;
	-moz-transition-duration: 0.15s, 0.15s, 0.15s;
	-moz-transition-timing-function: linear, linear, linear;
	transition-property: box-shadow, border-color;
	transition-duration: 0.15s, 0.15s;
	transition-timing-function: linear, linear;
}

#head-wrapper {
	background: #EEE;
	border-bottom: solid 1px #DDD;
	height: 60px;
	width: 100%;
}

header {
	margin: 0 auto !important;
	float: none !important;
	display: block !important;

	img { height: 60px; margin-left: 5px; }
	
	ul#nav {
		float: right;
		margin: 35px 0 0 0;
		
		li {
			float: left;
			margin: 0;
			
			a {
				color: #333;
				text-shadow: 0px 1px 1px #FFF;
				padding: 10px;
				background-color: transparent;
				border: solid 1px transparent;
				border-bottom: none;
				.border-radius(3px 3px 0px 0px);
				.transition-double(background-color, border-color);
				
				&:hover {
					color: #333;
					background-color: #FFF;
					border-color: #CCC;
				}
			}
		}
	}
}

ul#footer-links {
	width: 455px;
	height: 20px;
	margin: 20px auto 10px auto;
	
	li {
		float: left;
		margin: 0 5px;
		
		a { 
			.link-blue;
		}
	}
}

#index {
	img#main-logo {
		float: left;
		width: 600px;
		padding: 0 160px;
		margin: 20px 0;
	}
	
	#join {
		background: #F3F3F3;
		padding: 10px;
		margin-left: 160px;
		
		h2 { margin-bottom: 10px; }
		
		input[type="text"] {
			color: #666;
			padding: 8px 4px;
			width: 268px;
			border-radius: 2px;
			border: none;
			border-bottom: dashed 1px #AAA;
			background: transparent;
			float: left;
			margin: 0 10px 0 120px;
			font-size: 14px;
			
			&:focus {
				.box-shadow(none);
				border: none;
				border-bottom: dashed 1px #AAA;
			}
		}
	}
}

#sample {
	width: 960px;
	margin: 0;
	
	h4 { font-weight: normal; }
}

.sidebar {
	border-right: solid 1px #DDD;
	margin-right: 9px;
	padding-top: 10px;
	
	#course_title {
		float: left;
		margin-bottom: 10px;
	}
	
	img { float: left; }
	
	#nav-link, #info-link {
		font-size: 14px;
		float: left;
		margin: 0 10px 0 0;
		opacity: 0.7;
		.transition(opacity .15s linear);
		
		&.active { opacity: 1.0; }
		
		&:hover { opacity: 1.0; }
	}
	
	#nav-link { 
		color: #dfab2d;
		&.active:before {
			content:url(media/navigation-icon.png);
			display: inline;
			float: left;
		}
	}
	#info-link { 
		color: #619ecf;
		&.active:before {
			content:url(media/info-icon.png);
			display: inline;
			float: left;
		}
	}
	
	#info-content { display: none; }
	
	ul.sidebar-content {
		float: left;
		margin-top: 10px;
		width: 100%;
		
		img {
			width: 20px;
			margin-right: 5px;
		}
		
		p {
			font-size: 12px;
			
			a { 
				color: #858; 
				font-size: 12px;
				text-transform: uppercase;
				&:hover { color: #000; } 
			}
		}
		
		.purple-line {
			float: right;
			margin-top: -10px;
			height: 1px;
			width: 50%;
			background: #CAC;
		}
		
		&#meeting, &#honchoes, &#classmates {
			p a:hover { color: #858; }
			
			li {
				border: none;
				&:hover{ background-color: transparent; }
			}
		}
		
		li {
			float: left;
			margin: 0;
			width: 97%;
			padding: 3px 6px 0 0;
			font-size: 14px;
			border-bottom: solid 1px #DDD;
			background-color: transparent;
			.transition(background-color 0.15s linear);
			
			/* &:hover { background-color: #F3F3F3; } */
			
			&:last-child {
				border: none;
				
				a {
					font-size: 12px;
					float: right;
					margin-right: 5px;
					.link-blue;
				}
				
				&:hover { background-color: transparent; }
			}
			
			p.date {
				font-size: 12px;
				color: #999;
			}
			
			&.attach {
				background: url('media/paperclip-icon') no-repeat 195px 5px;
				&:hover {
					background: #F6F6F6 url('media/paperclip-icon.png') no-repeat 200px 5px;
				}
			}
		}
	}
	
	ul#upcoming {
		li {
			border: none;
			
			&:hover { background: transparent; }
			
			p.date { 
				float: right;
				margin-right: 5px;
				font-size: 14px;
				color: #161616;
			} 
		}
	}
}

.maincol-head{
	padding-top: 10px;
	
	p#tags {
		float: right;
		display: none;

		a { text-decoration: underline; }
	}
	
	form {
		float: left;
		width: 100%;
		margin: 10px 0 0 0;
	}
	
	input#postText {
		width: 96%;
		float: left;
	}
}

.post {
	float: left;
	margin-bottom: 10px;
	padding: 5px 6px 40px 55px;
	width: 90%;
	border-top: solid 1px #EEE;
	
	&.professor { .adminpost; }
	
	p { line-height: 1.5em; }
	
	.author {
		a { .link-blue; }
	}
	
	.authorimg {
		float: left;
		margin-left: -50px;
		margin-top: -1.5em;
		
		img { height: 40px; }
	}
	
	.actions {
		float: left;
		font-size: 12px;
		width: 80%;
		
		p, a { float: left; }
		a { .link-blue; }
	}
	
	.meta {
		float: right;
		
		div { float: left; margin-right: 5px; }
	}
	
	.comment {
		float: left;
		margin: 10px 0 0 0;
		padding: 5px 5px 5px 55px;
		width: 91%;
		border-top: solid 1px #EEE;
		
		&.professor { .adminpost; }
	}
	
	input[type="text"] { 
		margin-top: 10px; 
		width: 98%;
		float: left;
	}
}

input.new-comment {
	float: left;
	width: 88%;
	margin: -45px 0 0 60px;
}

/*
.post {
	float: left;
	margin-bottom: 10px;
	padding-left: 55px;
	width: 80%;
	
	p { line-height: 1.5em; }
	
	.poster-img {
		float: left;
		width: 40px;
		margin: 0 5px 5px -50px;
	}
	
	.original-post, .comments, .comment { float: left; }
	.comments, .comment { margin-top: 5px; }
	.comment { 
		padding: 5px 5px 5px 55px;
		
		.post-meta h5 { margin-right: 0px; }
	}
	
	.expanded-link {
		margin-top: 8px;
		float: left;
		padding-left: 115px;
		
		img {
			float: left;
			width: 100px;
			margin-left: -110px;
		}
		
		p.text {
			color: #999;
			font-size: 12px;
			line-height: 16px;
		}
	}
	
	.post-meta {
		font-size: 12px;
		float: left;
		width: 100%;
		margin-top: 5px;
		
		a, p { float: left; }
		
		h5 {
			float: right;
			padding: 4px;
			margin: -5px 5px 0 0;
			
			a { 
				color: rgba(0,0,0,0.5); 
				&:hover { color: rgba(0,0,0,1) }
			}
		}
	}
	
	input[name='comment'] {
		float: left;
		width: 100%;
		margin-top: 5px;
	}
}
*/

.calendar {
	margin: 10px 0 0 -10px;
	border-left: solid 1px #CCC;
	
	table.main-cal {
		float: left;
		width : 100%;
		margin-left: -1px;
	}
	
	tr.cal {
		td {
			height: 70px;
			width: 100px;
			padding: 5px;
			border: solid 1px #CCC;
			.transition(background-color 0.1s linear);
			
			&:hover {
				background: #F3F3F3;
			}
			
			div.content {
				font-size: 12px;
				white-space: nowrap;
				max-width: 100px;
				overflow: hidden;
			}
		}
	}
	
	tr.week {
		td {
			text-align: center;
			color: #000;
		}
	}
	
	tr.head {
		th {
			font-size: 12px;
			text-align: left;
			padding-left: 10px;
		}
	}
	
	a.arrow {
		color: #679;
		font-size: 12px;
		
		&:hover {
			color: #346;
		}
	}
	
	.new-event {
		display: none;
		float: left;
		width: 97%;
		padding: 10px;
		border-right: solid 1px #CCC;
		border-bottom: solid 1px #CCC;
		margin-bottom: 5px;
		
		span { 
			float: left; 
			margin: 5px 5px 11px 5px;
		}
		
		input { float: left; }
		
		input[type="text"] { 
			width: 70px; 
			margin: 0 5px 5px 5px;
		}
		
		#name {
			height: 24px;
			padding: 3px;
			margin: 2px 10px 5px 0;
			width: 70%;
		}
		
		input[type="checkbox"] {
			width: auto;
			margin: 8px;
		}
		
		select {
			width: 160px;
			float: left;
			margin: 3px 0 0 10px;
		}
		
		.chzn-container {
			float: left;
			margin-left: 10px;
			
			span { margin-top: 0; }
		}
		
		ul.chzn-results {
			float: left;
			width: 87%;
		}
		
		input[name="day_offset"],
		input[name="hour_offset"] {
			width: 20px;
		}
		
		label { 
			float: left;
			margin: 5px 0;
		}
		
		input#convo {
			margin-right: 200px;
		}
		
		#details {
			float: left;
			width: 480px;
			margin-right: 20px;
		}
		
		#files {
			float: left;
			
			a { .link-blue; text-decoration: underline; }
		}
	}
	
	.upcoming {
		float: left;
		width: 80%;
		padding: 10px;
		
		h4 { font-weight: normal; margin-bottom: 0.5em; }
		
		table {
			width: 75%;
			
			tr {
				td {
					height: 1.5em;
					padding: 5px;
					
					a:hover { 
						color: #000;
						.transition(color 0.1s linear);
					}
				}
			}
			
			a {
				.link-blue;
			}
		}
	}
}

.registration {
	float: right;
	border-left: solid 1px #CCC;
	padding: 10px 0 0 10px;
	
	h4 { margin: 8px 0 12px 0; }
	
	hr { margin-left: -10px; }
	
	label {
		float: left;
		font-weight: normal;
		font-size: 14px;
		margin: 0;
	}
		
	input[type="text"],
	input[type="password"],
	input[type="email"], 
	select, #photo {
		float: left;
		width: 260px;
		margin: 0 80px 15px 0;
	}
	
	#photo {
		a { text-decoration: underline; }
	}
	
	select { height: 25px; width: 270px; }
	
	.chzn-container { margin-bottom: 15px; }
	
	input[type="submit"] {
		float: right;
		margin-right: 90px;
	}
}
